@{    
    @RenderPage("~/App_Views/reporte/reporte_query.cshtml");
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/App_Styles/reporte/reporte.css" rel="stylesheet" />
    <link href="~/App_Styles/reset.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="~/App_Scripts/reporte.js"></script>
</head>
    <body>    
        
    </body>
</html>
