* {
    font-family: 'Roboto', sans-serif;
}

/*--------- caja --------------*/
.caja-tabla {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}
/*----------- input ------------*/
input[type="text"] {
    width: 80%;
    margin: 40px 25px;
    display: block;
    border: none;
    padding: 10px 0;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, black 4%);
    color: black;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}


    input[type="text"][required]:focus {
        border-color: #00bafa;
        box-shadow: none;
        outline: none;
        background-position: 0 0;
    }

        input[type="text"][required]:focus + label[placeholder]:before {
            color: #2980b9;
        }

        input[type="text"][required]:focus + label[placeholder]:before,
        input[type="text"][required]:valid + label[placeholder]:before {
            transition-duration: .2s;
            -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
            transform: translate(0, -1.5em) scale(0.9, 0.9);
        }

    input[type="text"][required]:invalid + label[placeholder][alt]:before {
        content: "filtrar por";
    }


    input[type="text"][required] + label[placeholder] {
        display: block;
        pointer-events: none;
        line-height: 1.25em;
        margin-top: calc(-3em - 2px);
        margin-bottom: calc((3em - 1em) + 2px);
        margin-left: 10%;
    }

        input[type="text"][required] + label[placeholder]:before {
            content: "estas filtrando con";
            display: inline-block;
            margin: 0 calc(1em + 2px);
            padding: 0 2px;
            color: #bdc3c7;
            white-space: nowrap;
            transition: 0.3s ease-in-out;
            background-image: linear-gradient(to bottom, #fff, #fff);
            background-size: 100% 5px;
            background-repeat: no-repeat;
            background-position: center;
        }

/**----lista----*/
.custom-select {
    display: inline-block;
    position: relative;
    top: 50%;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 20px;
    border: 1px solid black;
}

    .custom-select select {
        width: auto;
        margin-left: 10px;
        padding: 10px 0px 10px 0px;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 0;
        background-color: transparent;
        color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }

option {
    background-color: white;
}

.custom-select select::-ms-expand {
    display: none;
}

.custom-select:after {
    position: absolute;
    top: 40%;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    border-top: .375em solid #000000;
    pointer-events: none;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .custom-select select {
        padding-right: 2em;
    }
}



/**----------------***/
/**----------------***/
.menu_p {
    background-color: black;
    height: 40px;
}

    .menu_p ul {
        height: 100%;        
    }

        .menu_p ul .rig {
            float: right;
        }

            .menu_p ul .rig:hover {
                color: white;
                border-bottom: 1px solid #03A9F4;
            }

        .menu_p ul li {
            margin-right: 20px;
            top: 30%;
            position: relative;
            display: inline-block;
        }

            .menu_p ul li a {
                color: white;
            }

.usuario {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

    .usuario:hover {
        color: #2980b9;
    }


/*---------- tabla ------------*/

.con-table {
    border-collapse: separate;
    width: 100%;
    margin-top: 20px;
    box-shadow: 3px 5px 5px grey;
}

    .con-table td {
        border-bottom: 1px solid #bdc3c7;
        padding: 10px;
    }

    .con-table th {
        padding: 10px;
        text-align: left;
        background-color: #16a085;
    }

tr:nth-child(even) {
    background-color: #9e9e9e24;
}
